@charset "UTF-8";html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace,monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

code,kbd,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/montserrat-regular-webfont.woff2) format("woff2")
}

@font-face {
    font-family: Montserrat;
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/montserrat-italic-webfont.woff2) format("woff2")
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/montserrat-bold-webfont.woff2) format("woff2")
}

@font-face {
    font-family: Montserrat;
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/montserrat-bolditalic-webfont.woff2) format("woff2")
}

::-webkit-input-placeholder {
    color: #666
}

::-moz-placeholder {
    color: #666
}

:-ms-input-placeholder {
    color: #666
}

::-ms-input-placeholder {
    color: #666
}

::placeholder {
    color: #666
}

::-moz-selection {
    background-color: #fd545b;
    color: #fff
}

::selection {
    background-color: #fd545b;
    color: #fff
}

input,textarea {
    outline: 0
}

input:focus:required:invalid,textarea:focus:required:invalid {
    border-color: red
}

input:required:valid,textarea:required:valid {
    border-color: green
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.65;
    font-family: Montserrat,sans-serif;
    overflow-x: hidden;
    color: #333;
    background: #fffbfa url(../img/elips.svg) right 0 top 0/auto auto no-repeat
}

a {
    color: #333;
    text-decoration: none;
    outline: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

button {
    border: none;
    outline: 0
}

section {
    position: relative;
    margin: 120px 0
}

ul {
    list-style: none;
    list-style-image: none;
    padding: 0;
    margin: 0
}

h1 {
    font-size: 2.1em
}

h4 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1em
}

p {
    font-size: .9em
}

select {
    width: 300px;
    height: 55px;
    padding: 5px 5px 5px 30px;
    border-radius: 30px;
    outline: 0;
    border: none;
    background-color: #f5e7e9;
    margin-bottom: 10px;
    color: #333
}

.section-header {
    text-align: center
}

.section-header-reference {
    text-align: center
}

.section-header {
    margin: 0;
    font-size: 2em;
    line-height: 1.2
}

.section-header-reference {
    font-size: 1.1em;
    margin: 0
}

.img-responsive {
    height: 100%;
    width: 100%
}

.btn-red {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 40px;
    border-radius: 30px;
    font-weight: 700;
    -webkit-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out
}

.btn-red {
    height: 55px;
    background-color: #fd545b;
    color: #fff;
    font-size: .85em
}

.btn-red:hover {
    cursor: pointer;
    background-color: #ff4063
}

.container {
    position: relative;
    max-width: 1600px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.preview-container {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 110px 1fr;
    grid-template-rows: 110px 1fr;
    width: calc(100% - 80px);
    height: 650px;
    left: 40px;
    top: 40px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 1px 10px 10px rgba(255,51,0,.08);
    box-shadow: 1px 10px 10px rgba(255,51,0,.08);
    margin-bottom: 100px
}

.preview-header {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 400px 1fr;
    grid-template-columns: 400px 1fr;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.preview-header a {
    margin-left: 35px
}

.preview-header .btn-light {
    position: absolute;
    top: 33px;
    right: 250px
}

.preview-section {
    margin: 0;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 550px 1fr;
    grid-template-columns: 550px 1fr
}

.preview-section-body {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 170px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.preview-section-body h1,.preview-section-body h4,.preview-section-body p {
    margin: 0;
    line-height: 1.3
}

.preview-section-body p {
    margin: 10px 0
}

.preview-section-body .btn-red {
    margin: 20px 0
}

.preview-left-content {
    background: transparent url(../img/preview.png) center no-repeat;
    background-size: 120%;
    background-position: -130px 40px;
    border-bottom-left-radius: 15px
}

.logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch
}

.logo-image {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background: transparent url(../img/logo.png) center no-repeat;
    background-size: 70%
}

.logo-text {
    position: relative;
    display: inline-block;
    height: 50px;
    padding-top: 5px
}

.logo-name {
    margin: 0
}

.logo-name-red {
    color: #fd545b
}

.logo-description {
    margin: 0;
    line-height: 10px;
    font-weight: 400;
    font-size: .9em
}

.header-consultation {
    position: relative;
    float: right;
    right: 40px;
    font-size: .8em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.header-consultation a {
    left: 0;
    display: block;
    font-size: 1.1rem;
    margin: 0;
    line-height: 16px;
    font-weight: 700
}

.languages-container {
    position: relative;
    width: calc(100% - 60px);
    left: 50%;
    top: 50px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    grid-gap: 20px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s
}

.list-languages {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 73px;
    margin-bottom: 35px
}

.list-languages-description {
    position: relative;
    width: calc(100% - 20px);
    height: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 20px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease
}

.language-card {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50px 1fr;
    grid-template-columns: 50px 1fr;
    grid-column-gap: 20px;
    padding: 20px;
    max-width: calc(25% - 60px);
    height: calc(100% - 32px);
    background-color: #fff;
    -webkit-box-shadow: 1px 10px 10px rgba(255,51,0,.08);
    box-shadow: 1px 10px 10px rgba(255,51,0,.08);
    border-radius: 10px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s
}

.language-card:hover {
    cursor: pointer;
    -webkit-box-shadow: 1px 10px 10px rgba(255,51,0,.15);
    box-shadow: 1px 10px 10px rgba(255,51,0,.15)
}

.language-card:hover strong {
    color: #fd545b
}

.language-card img {
    width: 80%
}

.language-card p {
    font-size: 1.1em;
    line-height: 1.2;
    margin: 0
}

.language-card strong {
    display: block
}

.card-description {
    position: relative;
    width: 100%;
    height: 0;
    border-radius: 10px;
    -webkit-box-shadow: 1px 10px 10px rgba(255,51,0,.08);
    box-shadow: 1px 10px 10px rgba(255,51,0,.08);
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    background-color: #fff;
    overflow: hidden
}

.card-description-content {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 1fr 1fr;
    grid-template-columns: 300px 1fr 1fr;
    grid-column-gap: 40px;
    width: calc(100% - 40px);
    height: 450px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 30px
}

.card-description h3 {
    position: relative;
    top: 20px;
    left: 20px;
    margin: 10px 0;
    font-size: 2.1em;
    white-space: nowrap
}

.card-description h3:before {
    content: 'Курс';
    top: -15px;
    left: 2px;
    color: #fd545b;
    font-size: .5em;
    position: absolute;
    letter-spacing: .4rem
}

.card-description .study-date {
    position: relative;
    top: 10px;
    left: 20px;
    font-size: 1.1em
}

.card-description .study-date::before {
    content: '';
    display: inline-block;
    position: relative;
    top: 2px;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background: url(../img/date.svg) no-repeat center/contain
}

.card-description .teacher-information {
    position: relative;
    color: #fff;
    -webkit-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
    overflow: hidden
}

.card-description .teacher-information .teacher-component {
    position: relative;
    height: 360px;
    width: calc(100% - 10px)
}

.card-description .teacher-information .teacher-component-cap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.card-description .teacher-information .teacher-component:hover .teacher-component-cap {
    background-color: #00000099
}

.card-description .teacher-information .teacher-component:hover .list-teacher-skills {
    opacity: 1
}

.card-description .teacher-information .teacher-component:hover .teacher-name {
    color: #fff
}

.card-description .teacher-information .teacher-name {
    position: relative;
    font-size: 1.3em;
    font-weight: 700;
    left: 20px;
    top: 13px;
    color: #333;
    z-index: 1
}

.card-description .teacher-information .list-teacher-skills {
    position: relative;
    top: 200px;
    left: 20px;
    font-size: 1.1em;
    z-index: 2;
    -webkit-transition: .1s ease;
    -o-transition: .1s ease;
    transition: .1s ease;
    opacity: 0
}

.social-links-list {
    position: relative;
    width: 200px;
    left: calc(50% - 10px);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 46px;
    top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.social-links-list li {
    -webkit-box-shadow: 0 0 1px 2px #fd545b;
    box-shadow: 0 0 1px 2px #fd545b;
    border-radius: 50%;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    width: 46px;
    height: 100%
}

.social-links-list li a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease
}

.social-links-list li a.social-icon-vk {
    background-image: url(../img/social/vk.svg)
}

.social-links-list li a.social-icon-vk:hover {
    background-image: url(../img/social/vk_hover.svg)
}

.social-links-list li a.social-icon-facebook {
    background-image: url(../img/social/facebook.svg)
}

.social-links-list li a.social-icon-facebook:hover {
    background-image: url(../img/social/facebook_hover.svg)
}

.social-links-list li a.social-icon-instagram {
    background-image: url(../img/social/instagram.svg)
}

.social-links-list li a.social-icon-instagram:hover {
    background-image: url(../img/social/instagram_hover.svg)
}

.social-links-list li:hover {
    background-color: #fd545b
}

.teacher-biography {
    overflow-y: auto;
    margin-bottom: 15px
}

.teacher-biography p {
    margin: 0
}

.study-information h4 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 0
}

.study-information .list-price {
    position: relative;
    width: 95%;
    top: 20px;
    left: 2.5%;
    height: 250px
}

.study-information .list-price li {
    position: relative;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
    grid-template-columns: 70% 30%;
    font-size: 1.1em;
    text-align: left;
    padding: 0 0 0 20px
}

.study-information .list-price li p {
    margin-bottom: 0
}

.study-information .list-price .registration-price-1 {
    border-bottom: 2px solid #ddd;
    color: #888;
    height: 24%
}

.study-information .list-price .registration-price-2 {
    border-bottom: 2px solid #ddd;
    color: #555;
    height: 24%
}

.study-information .list-price .registration-price-3 {
    background-color: #cccccc88;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 52%
}

.study-information .list-price .registration-price-3 p {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1
}

.study-information .list-price .registration-price-3 small {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    line-height: 16px;
    font-size: .65em;
    width: 90%
}

.study-information .list-price .registration-price-3 .service-cost {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    color: #fd545b
}

.study-information .list-price .service-cost {
    text-align: center
}

.study-information .btn-red {
    top: 75px;
    left: calc(50% + 20px);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.list-advantages {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: calc(100% - 40px);
    height: 300px;
    left: 50%;
    top: 50px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.list-advantages li {
    display: inline-block;
    width: 30%;
    height: 100%;
    text-align: center
}

.list-advantages li h5 {
    font-size: 1em;
    margin: 10px 0
}

.list-advantages li p {
    positino: relative;
    display: inline-block;
    left: 50%;
    margin: 0;
    max-width: 250px
}

.list-advantages li .advantage-img-container {
    position: relative;
    width: 150px;
    height: 150px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.list-advantages li .advantage-img-1 {
    background: transparent url(../img/advantages/advantage1.png) center no-repeat
}

.list-advantages li .advantage-img-2 {
    background: transparent url(../img/advantages/advantage2.png) center no-repeat
}

.list-advantages li .advantage-img-3 {
    background: transparent url(../img/advantages/advantage3.png) center no-repeat
}

.tables-container {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px 1fr;
    grid-template-columns: 250px 1fr;
    grid-column-gap: 50px;
    width: calc(100% - 80px);
    left: 40px;
    height: auto
}

.list-tables {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ddd
}

.list-tables li {
    padding: 15px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #333
}

.list-tables li:nth-child(1n+2) {
    border-top: 1px solid #ddd
}

.list-tables li:hover {
    cursor: pointer;
    background-color: #fd545b;
    color: #fff;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

.list-tables .active {
    background-color: #fd545b;
    color: #fff
}

.tables-content {
    background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)
}

.tables-content table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    display: none
}

.tables-content td,.tables-content th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px
}

.tables-content tr:nth-child(even) {
    background-color: #ddd
}

.form-container {
    position: relative;
    max-width: 1200px;
    min-height: 200px;
    height: auto;
    top: -50px;
    width: 95%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url(../img/hline.png) left 0 bottom 0 repeat-x,url(../img/hline.png) left 0 top 0 repeat-x,url(../img/vline.png) right 0 top 0 repeat-y,url(../img/vline.png) left 0 top 0 repeat-y,#fff;
    border-radius: 15px
}

.form-container h3 {
    position: relative;
    font-size: 2em;
    top: 20px;
    margin: 0;
    text-align: center
}

.form-container .btn-red {
    background-color: #fd545b;
    height: 55px;
    width: 200px;
    padding: 0
}

.form-container .btn-red:hover {
    background-color: #ff4063
}

.form-container p {
    font-size: 1em;
    margin: 20px 0 0 0;
    text-align: center
}

.form-container form {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 20px 0;
    left: 50%;
    bottom: 10px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center
}

input {
    border: none;
    background-color: #f5e7e9;
    padding: 5px 5px 5px 30px;
    margin-bottom: 10px;
    width: 270px;
    height: 45px;
    border-radius: 45px
}

.btn-red {
    display: inline-block
}

footer {
    position: absolute;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    background-color: #fd545b
}

.footer-info {
    position: absolute;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 45%;
    grid-template-columns: 60% 45%;
    width: 95%;
    max-width: 1200px;
    height: 250px;
    top: 210px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.footer-info a {
    position: relative;
    left: -10px
}

.footer-info .logo-name-red,.footer-info h3,.footer-info h4,.footer-info p {
    color: #fff
}

.footer-info p {
    margin-top: 30px;
    width: 80%;
    font-size: .9em;
    line-height: 1.5
}

.contact-info li {
    margin-bottom: 30px;
    height: 45px
}

.contact-info p {
    width: auto;
    margin: 0
}

.contact-info .contact-phone {
    font-size: 1.2em;
    font-weight: 700;
    left: 1px;
    color: #fff;
    line-height: 1
}

.contact-info .contact-email {
    text-decoration: underline;
    color: #ffc600;
    left: 2px
}

.contact-info .contact-reference {
    width: 90%
}

.contact-image {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    float: left;
    margin-right: 20px
}

.contact-image-1 {
    background: #eb4e54 url(../img/phone-call.svg) center no-repeat
}

.contact-image-2 {
    background: #eb4e54 url(../img/location.svg) center no-repeat
}

.contact-image-3 {
    background: #eb4e54 url(../img/email.svg) center no-repeat
}

.popup-form-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000077;
    z-index: 5;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    display: none
}

.popup-form {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 300px;
    min-height: 200px;
    height: auto;
    padding: 40px;
    background: url(../img/hline.png) left 0 bottom 0 repeat-x,url(../img/hline.png) left 0 top 0 repeat-x,url(../img/vline.png) right 0 top 0 repeat-y,url(../img/vline.png) left 0 top 0 repeat-y,#fff;
    border-radius: 10px
}

.popup-form form h4 {
    margin-top: 0;
    font-weight: 900;
    font-size: 1.3em
}

.popup-form form .btn-red {
    width: 100%;
    font-size: 1em
}

.popup-form .btn-close {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 50px;
    height: 50px;
    padding: 0;
    background: #fd545b url(../img/close.svg) center no-repeat;
    background-size: 30%
}

.popup-form .btn-close:after {
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    left: -10%;
    top: -10%;
    background-color: #fffbfa;
    border-radius: 50%;
    z-index: -1
}

.popup-form .btn-close:hover {
    background-color: #ff4063;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}
